html{
	margin: 0;
}

body{
	width: 92%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
}

h1{
	font-size: 50px;
	margin-bottom: 20px;
}

h2{
	font-size: 20px;
	margin-top: 5px;
}

h3{
	font-size: 26px;
}

a{
	color: #66CCFF;
}

a:hover{
	opacity: 0.6;
}

#header{
	text-align: center;
}

#header a{
	color: #0033CC;
}

#content{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

#footer{
	text-align: center;
}

table{
	width: 50%;
	border: 4px solid #000;
	text-align: left;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-indent: 10px;
}

th, td{
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

th{
	border-bottom: 2px solid #000;
}

@media screen and (max-width: 540px){
	h1{
		font-size: 40px;
		text-align: left;
	}
	
	h2{
		text-align: left;
	}
	
	#content{
		margin-top: 50px;
		margin-bottom: 50px;
	}
}