html{
	margin: 0;
}

body{
	width: 92%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
}

h1{
	font-size: 50px;
	margin-bottom: 20px;
}

h2{
	font-size: 20px;
	margin-top: 5px;
}

a{
	color: #66CCFF;
}

a:hover{
	opacity: 0.6;
}

.error-page{
	text-align: center;
}

#header{
	text-align: center;
}

#header a{
	color: #0033CC;
}

#content{
	margin-top: 100px;
	margin-bottom: 100px;
}

#login-container{
	max-width: 400px;
	margin: 0 auto 0 auto;
	padding: 50px 1% 50px 1%;
	text-align: center;
	border: 5px solid #666666;
}

input[type="text"], input[type="password"]{
	max-width: 400px;
	width: 80%;
	display: block;
	margin: 6px auto 6px auto;
	font-size: 18px;
	text-indent: 8px;
	line-height: 34px;
}

input[type="submit"]{
	width: 80%;
	padding: 8px 0 8px 0;
	text-align: center;
	font-size: 18px;
}

input[type="submit"]:hover{
	cursor: pointer;
}

.form-options p{
	margin-left: 8px;
}

.login-options{
	margin-top: 20px;
	text-align: center;
}

.login-options a{
	font-size: 14px;
	margin: 0 5px 0 5px;
}

.login-options p{
	margin: 0;
}

.register-link{
	display: inline-block;
}

.form-errors{
	width: 80%;
	margin: 10px auto 10px auto;
	color: #b20000;
	border: 2px solid #b20000;
	background-color: #ffe6e6;
	font-weight: 600;
}

.form-errors p{
	margin-left: 5px;
	margin-right: 5px;
}

#footer{
	text-align: center;
}

@media screen and (max-width: 540px){
	h1{
		font-size: 40px;
		text-align: left;
	}
	
	h2{
		text-align: left;
	}
	
	#content{
		margin-top: 50px;
		margin-bottom: 50px;
	}
}